In [2]:
import pandas as pd

In [3]:
url = 'https://www.basketball-reference.com/leagues/NBA_2024_per_game.html'

In [4]:
df=pd.read_html(url, header=0)

In [5]:
df

[      Rk            Player   Pos Age   Tm   G  GS    MP   FG   FGA  ...   FT%  \
 0      1  Precious Achiuwa  C-PF  24  TOT  38   0  16.4  2.7   5.7  ...  .587
 1      1  Precious Achiuwa     C  24  TOR  25   0  17.5  3.1   6.8  ...  .571
 2      1  Precious Achiuwa    PF  24  NYK  13   0  14.3  1.9   3.6  ...  .750
 3      2       Bam Adebayo     C  26  MIA  35  35  35.0  7.8  15.6  ...  .780
 4      3      Ochai Agbaji    SG  23  UTA  46  10  20.1  2.2   5.1  ...  .750
 ..   ...               ...   ...  ..  ...  ..  ..   ...  ...   ...  ...   ...
 596  529    Thaddeus Young    PF  35  TOR  16   3  12.4  1.8   3.3  ...  .571
 597  530        Trae Young    PG  25  ATL  39  39  36.3  8.3  19.7  ...  .858
 598  531    Omer Yurtseven     C  25  UTA  25   6  10.3  1.5   3.0  ...  .600
 599  532       Cody Zeller     C  31  NOP  31   0   8.5  0.6   1.6  ...  .606
 600  533       Ivica Zubac     C  26  LAC  38  38  27.1  5.3   8.1  ...  .648

      ORB  DRB   TRB   AST  STL  BLK  TOV   PF   PTS
 0    2.1  3.2   5.3   1.4  0.5  0.5  1.0  1.6   6.5
 1    2.0  3.4   5.4   1.8  0.6  0.5  1.2  1.6   7.7
 2    2.3  2.7   5.0   0.6  0.2  0.6  0.7  1.5   4.2
 3    2.3  8.2  10.5   4.3  1.1  1.0  2.5  2.5  21.3
 4    0.7  1.8   2.6   0.9  0.6  0.6  0.7  1.4   5.6
 ..   ...  ...   ...   ...  ...  ...  ...  ...   ...
 596  0.9  1.6   2.5   2.0  0.9  0.1  0.4  1.4   3.8
 597  0.5  2.5   3.0  10.8  1.4  0.2  4.3  2.0  26.9
 598  1.4  2.7   4.1   0.5  0.2  0.4  0.9  1.3   3.4
 599  1.2  1.6   2.8   1.1  0.2  0.1  0.4  1.2   2.0
 600  3.3  6.5   9.7   1.3  0.2  1.4  1.1  2.9  12.4

 [601 rows x 30 columns]]

In [6]:
len(df)

1

In [7]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C-PF,24,TOT,38,0,16.4,2.7,5.7,...,.587,2.1,3.2,5.3,1.4,0.5,0.5,1.0,1.6,6.5
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,13,0,14.3,1.9,3.6,...,.750,2.3,2.7,5.0,0.6,0.2,0.6,0.7,1.5,4.2
3,2,Bam Adebayo,C,26,MIA,35,35,35.0,7.8,15.6,...,.780,2.3,8.2,10.5,4.3,1.1,1.0,2.5,2.5,21.3
4,3,Ochai Agbaji,SG,23,UTA,46,10,20.1,2.2,5.1,...,.750,0.7,1.8,2.6,0.9,0.6,0.6,0.7,1.4,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,529,Thaddeus Young,PF,35,TOR,16,3,12.4,1.8,3.3,...,.571,0.9,1.6,2.5,2.0,0.9,0.1,0.4,1.4,3.8
597,530,Trae Young,PG,25,ATL,39,39,36.3,8.3,19.7,...,.858,0.5,2.5,3.0,10.8,1.4,0.2,4.3,2.0,26.9
598,531,Omer Yurtseven,C,25,UTA,25,6,10.3,1.5,3.0,...,.600,1.4,2.7,4.1,0.5,0.2,0.4,0.9,1.3,3.4
599,532,Cody Zeller,C,31,NOP,31,0,8.5,0.6,1.6,...,.606,1.2,1.6,2.8,1.1,0.2,0.1,0.4,1.2,2.0
600,533,Ivica Zubac,C,26,LAC,38,38,27.1,5.3,8.1,...,.648,3.3,6.5,9.7,1.3,0.2,1.4,1.1,2.9,12.4

In [8]:
df2024 = df[0]

In [9]:
df2024.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C-PF,24,TOT,38,0,16.4,2.7,5.7,...,.587,2.1,3.2,5.3,1.4,0.5,0.5,1.0,1.6,6.5
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,13,0,14.3,1.9,3.6,...,.750,2.3,2.7,5.0,0.6,0.2,0.6,0.7,1.5,4.2
3,2,Bam Adebayo,C,26,MIA,35,35,35.0,7.8,15.6,...,.780,2.3,8.2,10.5,4.3,1.1,1.0,2.5,2.5,21.3
4,3,Ochai Agbaji,SG,23,UTA,46,10,20.1,2.2,5.1,...,.750,0.7,1.8,2.6,0.9,0.6,0.6,0.7,1.4,5.6

In [10]:
df2024.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
596,529,Thaddeus Young,PF,35,TOR,16,3,12.4,1.8,3.3,...,.571,0.9,1.6,2.5,2.0,0.9,0.1,0.4,1.4,3.8
597,530,Trae Young,PG,25,ATL,39,39,36.3,8.3,19.7,...,.858,0.5,2.5,3.0,10.8,1.4,0.2,4.3,2.0,26.9
598,531,Omer Yurtseven,C,25,UTA,25,6,10.3,1.5,3.0,...,.600,1.4,2.7,4.1,0.5,0.2,0.4,0.9,1.3,3.4
599,532,Cody Zeller,C,31,NOP,31,0,8.5,0.6,1.6,...,.606,1.2,1.6,2.8,1.1,0.2,0.1,0.4,1.2,2.0
600,533,Ivica Zubac,C,26,LAC,38,38,27.1,5.3,8.1,...,.648,3.3,6.5,9.7,1.3,0.2,1.4,1.1,2.9,12.4

In [11]:
df2024.shape

(601, 30)

In [12]:
df2024.size

18030

In [13]:
df2024.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [14]:
df2024.describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,601,601,601,601,601,601,601,601,601,601,...,540,601,601,601,601,601,601,601,601,601
unique,534,534,11,22,32,47,48,280,98,168,...,221,40,80,97,80,24,27,40,39,212
top,Rk,Player,SG,24,Tm,44,0,MP,FG,FGA,...,1.000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,PTS
freq,26,26,129,73,26,32,237,26,26,26,...,39,60,30,26,36,77,103,49,29,26

In [15]:
data = df2024.drop(df2024[df2024.Age == 'Age'].index)

In [16]:
data.shape

(575, 30)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 575 entries, 0 to 600
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      575 non-null    object
 1   Player  575 non-null    object
 2   Pos     575 non-null    object
 3   Age     575 non-null    object
 4   Tm      575 non-null    object
 5   G       575 non-null    object
 6   GS      575 non-null    object
 7   MP      575 non-null    object
 8   FG      575 non-null    object
 9   FGA     575 non-null    object
 10  FG%     566 non-null    object
 11  3P      575 non-null    object
 12  3PA     575 non-null    object
 13  3P%     527 non-null    object
 14  2P      575 non-null    object
 15  2PA     575 non-null    object
 16  2P%     553 non-null    object
 17  eFG%    566 non-null    object
 18  FT      575 non-null    object
 19  FTA     575 non-null    object
 20  FT%     514 non-null    object
 21  ORB     575 non-null    object
 22  DRB     575 non-null    object
 23  TRB     575 non-null    object
 24  AST     575 non-null    object
 25  STL     575 non-null    object
 26  BLK     575 non-null    object
 27  TOV     575 non-null    object
 28  PF      575 non-null    object
 29  PTS     575 non-null    object
dtypes: object(30)
memory usage: 139.3+ KB

In [18]:
data.duplicated().sum()

0

In [19]:
data.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        9
3P         0
3PA        0
3P%       48
2P         0
2PA        0
2P%       22
eFG%       9
FT         0
FTA        0
FT%       61
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [23]:
data.fillna(0, inplace=True)

In [24]:
data.isnull().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [25]:
data.to_excel('activity2.xlsx', index = False)